{% extends "home.html" %}
{% block title %}Added successfully{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Удаление Статья {{object.title}}</h1>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form class="col-6" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Удалить</button>
            <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}